<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/header.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Karthik</title>
</head>
<body>
<header>

    <nav>
        <div class="navdiv">
        <p class="title"><div class="heading">My Portfolio</div></p>
          <div class="links"><a href="/home"><p><img src="/images/home_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg"></p></a>
        <a href="/about"><p><img src="/images/data_loss_prevention_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg"></p></a>
        <a href="/contact"><p><img src="/images/contacts_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg"></p></a>
    </div>

        </div>
    </nav>
</header>

<main>
    


