
html,body{
    height:100%;
    margin:0;
    font-family:roboto;
}
body{
    margin:0;
    padding:0;
    min-height:100vh;
    display:flex;
    flex-direction: column;
}
.navdiv{
 display:flex;
 flex-direction: row;
 background-color:#0071E3;
 align-items: center;
 padding: 0;
 margin:0;
 color: aliceblue;
 height: 5vh;
}

a{
    
   margin-left:10px;
   margin-right:10px;
}

.heading{
    width:60%;
}
.links{
    width:40%;
    display: flex;
    flex-direction: row;
    justify-content: end;
   
}

main{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navdiv2{
    height:4vh;
    background-color:#0071E3;
    padding:0;
    margin:0;
    display: flex;
    align-items: center;
}

.homecontent{
  text-align: center;
  height: fit-content;
  width: 400px;
  animation:pop 0.8s;
}



@keyframes pop{
    0%{
        transform: scale(0%);
        opacity: 0;
    }

    
    
    100%{
        transform: scale(100%);
        opacity: 1;
    }
}

a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: 0.2s;
}

a:hover{
    transform: translateY(3px) ;
    transition: 0.2s;
}

.feedback{
    width:100%;
    height: fit-content;
    display:flex;
    flex-direction:column;
    padding:0;
    align-items: center;
}

input{
   
    outline:none;
    border:0;
    width:500px;
    padding:5px;
    height:30px;
    border:2px solid #0071E3;
    margin:10px;
    border-radius: 40px;
    text-align: center;
    transition: 0.2s;
}

input:focus{
    box-shadow: 0px 0px 20px 2px #0071E3;
    transition: 0.2s;
}


button{
    width:100px;
    border:0;
    color:aliceblue;
    padding: 5px;
    border-radius: 10px;
    background-color: #0071E3;
    margin:10px;
}

.content{
    padding-top:30px;
    padding-bottom: 30px;
    border-radius:20px;
}

@media(max-width:786px){
    html,body{
    height:100%;
    margin:0;
}
body{
    margin:0;
    padding:0;
    min-height:100vh;
    display:flex;
    flex-direction: column;
}

input{
    width:300px;
}

}
